<!DOCTYPE html>
<!-- saved from url=(0075) -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    name="viewport">
  <title>学生信息</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/fontawesome-all.min.css">

  <link rel="stylesheet" href="/css/summernote-lite.css">
  <link rel="stylesheet" href="/css/flag-icon.min.css">
  <link rel="stylesheet" href="/css/demo.css">
  <link rel="stylesheet" href="/css/pager.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('./header.ejs',{idx:'index'}) %>
      <div class="main-content" style="min-height: 868px;">
        <section class="section">

          <h1 class="section-header" style="line-height: 40px;">
            <div>学生管理</div>
            <div class="float-right">
              <a href="javascript:;" class="btn btn-success btn-shadow btn-round has-icon has-icon-nofloat btn-block"
                id="exportExcel">
                <i class="ion ion-stats-bars" style="width: 0;"></i>
                <div style="font-size: 14px;">导出为Excel</div>
              </a>
            </div>
          </h1>
         
          <table class="table">
            <caption>学员列表</caption>
            <thead>
              <tr>
                <th>学号</th>
                <th>名字</th>
                <th>性别</th>
                <th>年龄</th>
                <th>[操作]</th>
              </tr>
            </thead>
            <tbody class="studentList">

            </tbody>
          </table>
          <div id="wrap"></div>

        </section>
      </div>
      <%- include('./footer.ejs') %>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/tooltip.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/scroll-up-bar.min.js"></script>
  <script src="/js/sa-functions.js"></script>


  <script src="/js/summernote-lite.js"></script>


  <script src="/js/scripts.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/pagination.js"></script>
  <script>
    $(function () {
      new StudentList();
    });

    function StudentList() {
      this.page = 1;
      this.searchData = {}; // 通过模糊搜索查到的数据
      this.init();
      this.bindEvent();
    }
    StudentList.prototype = {
      init() {
        var _this = this;
        $.get('/student/msg', {
          page: this.page
        }, (res) => {
          // console.log(res);
          _this.renderDom(res);
        })
      },
      renderDom(data) {
        var _this = this;
        if(data.data.length <= 0){
          if(this.page > 1){
            this.page--;
            this.init();
          }else{
            $('#wrap').empty();
            $('.studentList').html('暂无数据')
          }
          return;
        }
        $('.studentList').empty();
        $.each(data.data, (idx, item) => {
          var tr = $('<tr></tr>').html(`
                <td> ${item.sid} </td>
                <td contenteditable="true">${item.name} </td>
                <td contenteditable="true">${item.sex} </td>
                <td contenteditable="true">${item.age} </td>
                <td>
                  <input type="button" value='删除' class="btn btn-warning del" data-id="${item.sid}">
                  <input type="button" value='修改' class="btn btn-info change" data-id="${item.sid}">
                </td>
          `).appendTo('.studentList');
        })
        pagination.init({
          wrapid: 'wrap', //页面显示分页器ID
          total: data.count, //总数据条数
          pagesize: 4, //每页3条数据
          currentPage: _this.page, //当前页
          onPagechange: function (n) {
            //页面改变时触发， 参数 n 为改变后的当前页数
            _this.page = n;
            _this.init();
          }
        })
      },
      bindEvent() {
        var _this = this;
        $('.studentList').delegate('.del', 'click',function(){
          if(!confirm('是否缺删除？')) return;
          var sid = $(this).attr('data-id');
          $.ajax({
            url:'/student/'+sid,
            type:'delete',
            success(res){
              // console.log(res);
              alert(res.msg);
              if(res.error){
                _this.init()
              }
              
            }
          })

        })
        $('.studentList').delegate('.change', 'click', function () {
          var sid = $(this).attr('data-id');
          var childrens = $(this).parent().parent().children();
          var name = childrens.eq(1).text();
          var sex = childrens.eq(2).text().replace(' ', '');
          var age = parseInt(childrens.eq(3).text());
          if (sex != '女' && sex != '男') {
            alert('请输入正确的性别');
            return;
          }
          if (isNaN(age)) {
            alert('请输入数字');
            return;
          }
          // console.log(sid,uname,age,sex);
          $.post('/student/' + sid, {
            name,
            sex,
            age
          }, (res) => {
            // console.log(res);
            alert(res.msg);
          })
        });
        $('.search').on('input', this.search.bind(this));
        // 渲染学生数据
        $('.search').on('keydown', function (e) {
          if (e.keyCode == 13) {
            // console.log(_this.searchData);
            _this.searchData.count && _this.renderDom(_this.searchData)
          }
        });
        $('#search').on('click', function () {

          _this.searchData.count && _this.renderDom(_this.searchData)

        });
        $('#exportExcel').click(function () {
          var name = prompt('导出的表名字为');
          if (!name) return;
          console.log(name);
          $.get('/student/exportExcel', {
            name
          }, (res) => {
            if (!res.error) {
              alert(res.msg);
              return;
            }
            window.location = `${window.location.href}${res.msg}`;
          })
        })


      },
      search() {
        var _this = this;
        var val = $('.search').val();
        if (!val) {
          this.init();
          return;
        };
        $.get('/student/search', {
          search: val
        }, (res) => {
          // console.log(res);
          $('#searchArr').empty();
          if (res.data.length < 0) return;
          _this.searchData = {
            count: res.data.length,
            data: res.data
          }
          $.each(res.data, function () {
            var op = $('<option></option>').val(this.name).text(this.name).appendTo($('#searchArr'));
          })
        })
      }
    }
  </script>